@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

/* Preline UI */
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

/* @preline/file-upload */
@source "../../node_modules/@preline/file-upload/*.js";
@import "../../node_modules/@preline/file-upload/variants.css";
@import "../../node_modules/@preline/file-upload/theme.css";

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: #166534;
    --color-accent-content: #166534;
    --color-accent-foreground: var(--color-white);

    --logo-page: #18181b;
    --logo-text: #ffffff;
    --logo-line: #3f3f46;
}

@layer theme {
    .dark {
        --color-accent: #166534;
        --color-accent-content: #166534;
        --color-accent-foreground: var(--color-white);

        --logo-page: #f4f4f5;
        --logo-text: #18181b;
        --logo-line: #a1a1aa;
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
